<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../Content/bootstrap.css"/>
    <link rel="stylesheet" href="../Content/Site.css"/>
    <link rel="stylesheet" href="../Content/hover.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="../Scripts/jquery-1.9.1.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <title>Sivaprasad S R - Blog .::. Web Application Development | Mobile Application Development</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="../index.html">Home</a></li>
                <li><a href="skills.html">Skills</a></li>
                <li><a href="experience.html">Experience</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li class="active"><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="../index.html">Home</a></li>
                <li><a href="skills.html">Skills</a></li>
                <li><a href="experience.html">Experience</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li class="active"><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="container container-blog" style="margin-top: 25px;">
        <div class="col-md-6">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../images/bg_cover.jpg" class="card-title-image">
                    <span class="card-title">Transform your Android App to Material Design</span>
                </div>
                <div class="card-content">
                    <p>Nowadays Google’s Material Design is getting popular in web application as well as in mobile application. So, in this blog, let me try and explain to you briefly how to give Google’s Material Design to Android applications....</p>
                </div>
                <div class="card-action">
                    <a href="http://blog.logiticks.com/transform-your-android-app-to-material-design/" target="_blank">More . . </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../images/bg_cover.jpg" class="card-title-image">
                    <span class="card-title">Signing the APK for Distribution / Publishing in play store</span>
                </div>
                <div class="card-content">
                    <p>After making a creative application, we need to distribute the application to the public. The best way to distribute the Android apps is through Google Play Store. Other channels are also available such as e-mail, a privat....</p>
                </div>
                <div class="card-action">
                    <a href="http://blog.logiticks.com/signing-the-apk-for-distribution-ed/" target="_blank">More . . </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../images/bg_cover.jpg" class="card-title-image">
                    <span class="card-title">Couldn't connect to logcat, GetProcessId returned - Xamarin.Android</span>
                </div>
                <div class="card-content">
                    <p>I started developing mobile apps using Xamarin Forms recently. During the initial days, I had done a lot of research and prepared myself. The development was going good until an issue arised where I had to debug the applic....</p>
                </div>
                <div class="card-action">
                    <a href="http://blog.logiticks.com/couldnt-connect-to-logcat-getprocessid-retured-xamarin-android/" target="_blank">More . . </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../images/bg_cover.jpg" class="card-title-image">
                    <span class="card-title">Differentiating Xamarin forms and Xamarin Android</span>
                </div>
                <div class="card-content">
                    <p>I'm amazed at Xamarin.Forms, a framework for cross-platform mobile app development in C# and runs on any mobile platform. It is very easy to make a mobile application if you know XAML and c#. If you have a .NET background ....</p>
                </div>
                <div class="card-action">
                    <a href="http://blog.logiticks.com/differentiating-xamarin-forms-and-xamarin-android/" target="_blank">More . . </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../images/bg_cover.jpg" class="card-title-image">
                    <span class="card-title">Solution to date & time issue in c3.js</span>
                </div>
                <div class="card-content">
                    <p>In my previous project, I wanted to show all the result data on a line chart with data in x-axis and status on y-axis. I did google to find an attractive and simple line chart to implement. The problem I had faced was to p....</p>
                </div>
                <div class="card-action">
                    <a href="http://blog.logiticks.com/solution-to-date/" target="_blank">More . . </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../images/bg_cover.jpg" class="card-title-image">
                    <span class="card-title">Relationship between schema and tables in sql</span>
                </div>
                <div class="card-content">
                    <p>The persistent elements of an SQL are database objects. A database object in a relational database is a data structure used to either store or reference data, schema . A schema is a logical definition of a table - it defin....</p>
                </div>
                <div class="card-action">
                    <a href="http://blog.logiticks.com/relationship-between-schema-and-tables-in-sql/" target="_blank">More . . </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../images/bg_cover.jpg" class="card-title-image">
                    <span class="card-title">How to configure Lightweight Directory Access Protocol (LDAP) in Windows</span>
                </div>
                <div class="card-content">
                    <p> LDAP (Lightweight Directory Access Protocol) is a software protocol for enabling anyone to locate organizations, individuals, and other resources to manage and access the distributed directory information service. LDAP is....</p>
                </div>
                <div class="card-action">
                    <a href="http://blog.logiticks.com/how-to-configure-lightweight-directory-access-protocol-ldap/" target="_blank">More . . </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../images/bg_cover.jpg" class="card-title-image">
                    <span class="card-title">Comparison of Cross-Platform Mobile Development</span>
                </div>
                <div class="card-content">
                    <p>As the mobile industry grows, mobile technology and the operating system for each mobile have also been tremendously changing. To overcome the concept of developing separate app for each platform(Native coding), there is a....</p>
                </div>
                <div class="card-action">
                    <a href="http://blog.logiticks.com/comparison-of-cross-platform-mobile-development/" target="_blank">More . . </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../images/bg_cover.jpg" class="card-title-image">
                    <span class="card-title">Programmatically check whether a website is down or not</span>
                </div>
                <div class="card-content">
                    <p>Website and web application are common these days. Each of us have at least one website.For a software development company it may be uncountable. Imagine a scenario when the number of hosted websites is unpredictable and u....</p>
                </div>
                <div class="card-action">
                    <a href="http://blog.logiticks.com/programically-check-a-website-is-down-or-not/" target="_blank">More . . </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../images/bg_cover.jpg" class="card-title-image">
                    <span class="card-title">Web.config File Transformations</span>
                </div>
                <div class="card-content">
                    <p>Most of us have worked with web applications using asp.Net. While publishing a web application, we have to change the web configuration according to the server. There are two types of database connection string - local and....</p>
                </div>
                <div class="card-action">
                    <a href="http://blog.logiticks.com/web-config-file-transformations/" target="_blank">More . . </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../images/bg_cover.jpg" class="card-title-image">
                    <span class="card-title">How to add Certificates in Azure Websites Applications</span>
                </div>
                <div class="card-content">
                    <p>Introduction Now a day applications are hosted in Azure websites. Some application need certificate for security purposes because those applications may need any API call with in the application. In this blog, I will expla....</p>
                </div>
                <div class="card-action">
                    <a href="http://blog.logiticks.com/how-to-add-certificates-in-azure-websites-applications/" target="_blank">More . . </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../images/bg_cover.jpg" class="card-title-image">
                    <span class="card-title">Export data to excel using MVC</span>
                </div>
                <div class="card-content">
                    <p>Recently as part of my work I was trying to export data to excel using MVC. Let me admit, I am new to MVC, so my natural inclination was to Google around and if someone has already tried it out. I did manage to get…</p>
                </div>
                <div class="card-action">
                    <a href="http://blog.logiticks.com/export-data-to-excel-in-mvc-at-server-side/" target="_blank">More . . </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../images/bg_cover.jpg" class="card-title-image">
                    <span class="card-title">Creating reusable methods inside view templates in Razor</span>
                </div>
                <div class="card-content">
                    <p>Hello everyone, Creating reusable methods inside view templates in Razor? Yes, this is a very interesting piece of work that I was struggling to implement and spend a good amount of time to finally get it done.Problem :  I....</p>
                </div>
                <div class="card-action">
                    <a href="http://blog.logiticks.com/creating-reusable-methods-inside-view-templates-in-razor/" target="_blank">More . . </a>
                </div>
            </div>
        </div>


    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
    })
</script>